@model IEnumerable<JTN.DVDCentral.BL.Models.OrderItem>

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <partial name="_OrderPartial" model="Model" />
</div>

